# Type of Integer

In [12]:
a=5
a=5.2
print(a, type(a))

5.2 <class 'float'>

In [14]:
a=2+5j
print(a,type(a))

(2+5j) <class 'complex'>

# String

In [34]:
s="Hello Ritika"
print(s, type(s))

Hello Ritika <class 'str'>

In [32]:
S='"Hello Ritika"'
print(s, type(s))

Hello Ritika <class 'str'>

# Triple quotation

In [40]:
S='''
Hi My name is Ritika Shah
I am learning python rn
I have to learn Excel, sql, power BI and Apache airflow or amazon redshift anyone of it
'''
print(S, type(S))

Hi My name is Ritika Shah
I am learning python rn
I have to learn Excel, sql, power BI and Apache airflow or amazon redshift anyone of it
 <class 'str'>

# List

In [62]:
a = [1,2.2,'ws']
a[2]=2 # list is mutable data so, I am changing 'ws' data to 2 numeric form
print(a, type(a))

[1, 2.2, 2] <class 'list'>

# Tuple

In [71]:
t = (5,'tuple', 4) # we have to put multiple data to do tuple
print(t, type(t))

(5, 'tuple', 4) <class 'tuple'>

# Dicitonary

In [97]:
d ={
    'course_name':'python'
   
}
print(d, type(d)) # this is mutable data coz we can change the data in the dictionary
print(d['course_name'])

{'course_name': 'python'} <class 'dict'>
python

# Set

In [110]:
x = {1,2,3} # we use curly bracket for set and dictonary. Set don't keep same value.
print(x)

{1, 2, 3}

In [118]:
X = {10,20,30,10}
print(X, type(X))

{10, 20, 30} <class 'set'>